.body{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	gap: 10px;
}
.rettangolo{
	display: flex;
	flex-direction: column;
	width: 800px;
	margin: auto;
	text-align: left;
	border: 2px solid #185c1c;
	border-radius: 10px;
	background-color:#aaa;
	gap: 10px;
	padding: 5px;
}
.riga, .descrizione{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
}
.descrizione{
	flex-direction: column;
	margin: 0px 20px;
  }
.segnala{
	display: flex;
	justify-content: space-between;
}
span.checked {
	color:#185c1c;
}
.text{
	margin-top: 10px;
	word-wrap: break-word;
}
.codice{
	display: flex;
	flex-direction: row-reverse;
}